In [2]:
import pandas as pd
import numpy as np

In [5]:
DATA_PATH = '/home/gustavo/repos/Python_practice/09_libraries/00_data/netflix_data.csv'

df = pd.read_csv(DATA_PATH, delimiter=',', index_col=0)
df.head(3)

,type,title,director,cast,country,date_added,release_year,duration,description,genre
show_id,,,,,,,,,,
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action

In [10]:
# Parts of a DataFrame

# df.values
# df.index
# df.columns

df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'duration', 'description', 'genre'],
      dtype='object')

## Sorting values

In [ ]:
# df.sort_values('column') >>> ascending order
# df.sort_values('column', ascending=False) >>>> descending order
# df.sort_values(['column_1', 'column_2'])

In [15]:
df.sort_values('country').head(3)

,type,title,director,cast,country,date_added,release_year,duration,description,genre
show_id,,,,,,,,,,
s4747,Movie,Palermo Hollywood,Eduardo Pinto,"Brian Maya, Matías Desiderio, Manuela Pal, Azu...",Argentina,"October 8, 2020",2004,106,A pair of petty criminals from different backg...,Dramas
s6307,Movie,The Distinguished Citizen,"Gastón Duprat, Mariano Cohn","Oscar Martínez, Dady Brieva, Andrea Frigerio, ...",Argentina,"September 1, 2017",2016,113,"Worried he’s lost his artistic edge, a wealthy...",Comedies
s7344,Movie,Underdogs,Juan José Campanella,"Ariana Grande, Nicholas Hoult, Matthew Morriso...",Argentina,"June 15, 2020",2013,85,"When his archenemy returns to settle a score, ...",Children

In [20]:
df.sort_values('duration', ascending=True).head(10)

,type,title,director,cast,country,date_added,release_year,duration,description,genre
show_id,,,,,,,,,,
s3099,TV Show,Jack Taylor,Stuart Orme,"Iain Glen, Killian Scott, Nora-Jane Noone, Tar...",United States,"March 31, 2013",2016,1,Ken Bruen's bestselling crime novels leap to l...,Crime TV
s3852,TV Show,Maggie & Bianca: Fashion Friends,Iginio Straffi,"Emanuela Rei, Giorgia Boni, Sergio Ruggeri, Lu...",Italy,"March 31, 2019",2017,1,"Originally polar opposites, an American fashio...",Kids
s3003,TV Show,Inhuman Resources,Ziad Doueiri,"Eric Cantona, Suzanne Clément, Alex Lutz, Gust...",France,"May 15, 2020",2020,1,"Alain Delambre, unemployed and 57, is lured by...",Crime TV
s4725,TV Show,Paava Kadhaigal,"Sudha Kongara, Vignesh Shivan, Gautham Vasudev...","Kalidas Jayaram, Shanthnu Bhagyaraj, Bhavani S...",India,"December 18, 2020",2020,1,"At times dark, at times disturbing, four short...",International TV
s4701,TV Show,Ouran High School Host Club,Takuya Igarashi,"Maaya Sakamoto, Monica Rial, Vic Mignogna, Luc...",Japan,"April 1, 2017",2006,1,New student Haruhi stumbles on the Ouran High ...,Anime Series
s5664,TV Show,Sleepless Society: Insomnia,"Pantham Thongsang, Cheewatan Pusitsuksa","Chutimon Chuengcharoensukying, Sutthirak Subvi...",Thailand,"February 13, 2020",2019,1,"Haunted by recurring visions, a young woman wi...",Crime TV
s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV
s1982,TV Show,Ellen DeGeneres: Relatable,"Joel Gallen, Tig Notaro",Ellen DeGeneres,United States,"December 18, 2018",2018,1,"In her first special since 2003, Ellen revisit...",Stand-Up
s7042,TV Show,They've Gotta Have Us,Simon Frederick,"Debbie Allen, Harry Belafonte, John Boyega, Di...",United Kingdom,"February 5, 2020",2018,1,Powered by candid recollections from esteemed ...,British TV
s4056,TV Show,Metallica: Some Kind of Monster,"Joe Berlinger, Bruce Sinofsky","James Hetfield, Lars Ulrich, Kirk Hammett, Rob...",United States,"February 10, 2017",2014,1,This collection includes the acclaimed rock do...,TV Shows

## Subsetting rows