In [1]:
import pandas as pd
import numpy as np

In [2]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

In [3]:
for k, v in europe.items():
    print(f"the capital of {k} is {v}")

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [4]:
DATA_PATH = '/home/gustavo/Documents/Study/005_Python_General/github/python_practice/09_libraries/00_data/brics.csv'
df = pd.read_csv(DATA_PATH)
df

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98