In [1]:
import pandas as pd
import numpy as np

In [2]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

In [3]:
for k, v in europe.items():
    print(f"the capital of {k} is {v}")

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

In [5]:
DATA_PATH = '/home/gustavo/Documents/Study/005_Python_General/github/python_practice/09_libraries/00_data/brics.csv'
DATA_PATH_ = '/home/gustavo/repos/Python_practice/09_libraries/00_data/brics.csv'

df = pd.read_csv(DATA_PATH, index_col=0)
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [6]:
for val in df:
    print(val)

country
capital
area
population

In [7]:
for label, row in df.iterrows():
    print(label)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [8]:
for label, row in df.iterrows():
    print(label + ": " + row['capital'])

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

In [11]:
# This code will create a new column with the length of the name of each country. BUT IT IS NOT EFFICIENT


for label, row in df.iterrows():
    # - Creating series on every iteration
    df.loc[label, "name_length"] = len(row['country'])


df

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

In [ ]:
# THIS IS EFFICIENT TO DO

# Calculate an entire dataframe column by applying a function on a particular column in an element wise fashion:

df['name_len'] = df["country"].apply(len)
df

         country    capital    area  population  name_length  name_len
BR        Brazil   Brasilia   8.516      200.40          6.0         6
RU        Russia     Moscow  17.100      143.50          6.0         6
IN         India  New Delhi   3.286     1252.00          5.0         5
CH         China    Beijing   9.597     1357.00          5.0         5
SA  South Africa   Pretoria   1.221       52.98         12.0        12