In [1]:
import pandas as pd
import numpy as np

In [2]:
# BRICS data
DATA_PATH = '/home/gustavo/Documents/Study/005_Python_General/github/python_practice/09_libraries/00_data/brics.csv'

In [3]:
df = pd.read_csv(DATA_PATH, index_col=0)
df

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [4]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]


# Create dictionary my_dict with three key:value pairs: my_dict
my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc,}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels

# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [5]:
DATA_PATH_2 = '/home/gustavo/Documents/Study/005_Python_General/github/python_practice/09_libraries/00_data/cars.csv'

cars_2 = pd.read_csv(DATA_PATH_2, index_col=0)
cars_2

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

## Selecting data from dataframe

In [6]:
# select country column (selection as a list or series):
df['country']

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [7]:
# Select country column (selection as a dataframe)

df[['country']]

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [9]:
# Selection more than one column

df[['country', 'capital']]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [12]:
df[-1:]

         country   capital   area  population
SA  South Africa  Pretoria  1.221       52.98

# loc and iloc
With loc and ilocyou can do practically any data selection operation on DataFrames you can think of. loc is label-based, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their integer index

## Row access loc

In [13]:
# selection as a list

df.loc['RU']

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [14]:
# selection as a dataframe

df.loc[['RU']]

   country capital  area  population
RU  Russia  Moscow  17.1       143.5

In [15]:
# selection of multiple lines by label

df.loc[['RU', 'IN', 'CH']]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [16]:
# selection of multiple lines and specific columns

df.loc[['RU', 'CH'], ['capital', 'country']]

    capital country
RU   Moscow  Russia
CH  Beijing   China

In [17]:
df.loc[: , ['capital', 'country']]

      capital       country
BR   Brasilia        Brazil
RU     Moscow        Russia
IN  New Delhi         India
CH    Beijing         China
SA   Pretoria  South Africa

## Row access iloc (Access by INDEX)

In [18]:
df.iloc[[0, 1]]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

In [26]:
df.iloc[[0, 1], [0, 3]]

   country  population
BR  Brazil       200.4
RU  Russia       143.5

In [29]:
# rows and columns with iloc

df.iloc[: , [0, 3]]

         country  population
BR        Brazil      200.40
RU        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.98

In [5]:
# rows and columns as the previous
df[['country', 'population']]

         country  population
BR        Brazil      200.40
RU        Russia      143.50
IN         India     1252.00
CH         China     1357.00
SA  South Africa       52.98

## Filtering pandas DataFrames

Example: select countries with area over 8 million km2:
* Select the area column
* Do comparison on area column
* Use result to select countries

In [7]:
# Step 1: select the area colum

df['area']

BR     8.516
RU    17.100
IN     3.286
CH     9.597
SA     1.221
Name: area, dtype: float64

In [9]:
# Step 2: Compare
# store the result as a variable


is_huge = df['area'] > 8

In [11]:
# Step 3: Select the country

df[is_huge]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5
CH   China   Beijing   9.597      1357.0

### using boolean operatos

In [8]:
df[np.logical_and(df['area'] > 8, df['area'] < 10)]

   country   capital   area  population
BR  Brazil  Brasilia  8.516       200.4
CH   China   Beijing  9.597      1357.0