In [1]:
import pandas as pd

In [2]:
PATH_DATA = '/home/gustavo/Documents/Study/005_Python_General/github/python_practice/09_libraries/00_data/gapminder.csv'

df = pd.read_csv(PATH_DATA, delimiter=',', index_col=0)
df.head(3)

        country  year  population    cont  life_exp      gdp_cap
11  Afghanistan  2007  31889923.0    Asia    43.828   974.580338
23      Albania  2007   3600523.0  Europe    76.423  5937.029526
35      Algeria  2007  33333216.0  Africa    72.301  6223.367465

## Summary statistics. life_exp

In [5]:
median = df['life_exp'].median()
print(median)

71.93549999999999

In [6]:
maximum = df['life_exp'].max()
print(maximum)

82.603

In [7]:
minimum = df['life_exp'].min()
print(minimum)

39.613

In [10]:
mean = df['life_exp'].mean()
print(mean)

67.00742253521126

### Cumulative statistics

In [11]:
# cumulative sum: .cumsum()

df['population'].cumsum()

11      3.188992e+07
23      3.549045e+07
35      6.882366e+07
47      8.124414e+07
59      1.215461e+08
            ...
1655    6.200726e+09
1667    6.204744e+09
1679    6.226956e+09
1691    6.238702e+09
1703    6.251013e+09
Name: population, Length: 142, dtype: float64

In [12]:
df['population'].cummax()

11      3.188992e+07
23      3.188992e+07
35      3.333322e+07
47      3.333322e+07
59      4.030193e+07
            ...
1655    1.318683e+09
1667    1.318683e+09
1679    1.318683e+09
1691    1.318683e+09
1703    1.318683e+09
Name: population, Length: 142, dtype: float64

In [13]:
df['population'].cummin()

11      31889923.0
23       3600523.0
35       3600523.0
47       3600523.0
59       3600523.0
           ...
1655      199579.0
1667      199579.0
1679      199579.0
1691      199579.0
1703      199579.0
Name: population, Length: 142, dtype: float64

In [5]:
# sales data

SALES_DATA = '/home/gustavo/Documents/Study/005_Python_General/github/python_practice/09_libraries/00_data/sales_subset.csv'

sales_df = pd.read_csv(SALES_DATA, delimiter=',', index_col=0)

In [6]:
sales_df

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808
...,...,...,...,...,...,...,...,...,...
10769,39,A,99,2011-12-09,895.00,False,9.644444,0.834256,7.716
10770,39,A,99,2012-02-03,350.00,False,15.938889,0.887619,7.244
10771,39,A,99,2012-06-08,450.00,False,27.288889,0.911922,6.989
10772,39,A,99,2012-07-13,0.06,False,25.644444,0.860145,6.623
10773,39,A,99,2012-10-05,915.00,False,22.250000,0.955511,6.228

In [7]:
sales_df['weekly_sales'].mean()

np.float64(23843.95014850566)

In [8]:
sales_df['weekly_sales'].median()

np.float64(12049.064999999999)